{% extends "body.html" %}

{% block content %}

	<!-- Content -->
	<div class="container theme-showcase" role="main">
		<div class="jumbotron">
			<h1>{{ project.name }}</h1>
			<p>{{ project.description }}</p>
            <h5>Required Experience: {{ project.experience }}</h5>
            <a href="/project/bookmark?name={{ project.name }}" class="btn btn-default">Bookmark</a>
            <a href="/project/remove?name={{ project.name }}" class="btn btn-default">Remove Project</a>
        </div>
	</div>
	<div class="container">
		<div class="table-responsive">
			<table class="table table-striped sortable">
				<thead>
					<tr>
						<th>Members</th>
					</tr>
				</thead>
				<tbody>
					{% for item in project.members.all %}
					<tr>
						<td>{{ item.get_full_name }}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
        <div class="container">
        <div class="table-responsive">
			<table class="table table-striped sortable">
				<thead>
					<tr>
						<th>Comment</th>
                        <th>Posted By</th>
                        <th>Comment Posted At</th>
                        <th>Delete</th>
					</tr>
				</thead>
				<tbody>
                    {% for comment in comments %}
                    <tr>
                        <td><p>{{ comment.comment }}</p></td>
                        <td>{{ comment.user }}</td>
                        <td>{{ comment.createdat }}</td>
                        {% if currentUser == comment.user.id or currentUser.user_type == "None"%}
                        <td><a href="/project/removecomment?id={{ comment.commentid }}&rdr={{ project.name }}">delete</a></td>
                        {% endif %}
                    </tr>
                    {% endfor %}
				</tbody>
			</table>
            <form method="POST" action="/project/comment?id={{ group.id }}" class="panel-body validate"> {% csrf_token %}
                {{ form.as_p }}
                <input type="text" name="comment" id="comment" placeholder="comment" class="form-control" data-bvalidator="required" data-bvalidator-msg="comment">
	            <input type="submit" class='btn btn-primary' value="comment">
            </form>
		</div>
	</div>

{% endblock %}