{% extends "body.html" %}

{% block content %}

    <!-- Content -->
    <div class="container" role="main">
		<div class="table-responsive">
            <h1>Engineer Profile</h1>
            <div class="jumbotron">
                <h2>{{ profile.last_name }}, {{ profile.first_name }}</h2>
		<h2></h2>
		<h4>Alma Mater: {{ profile.university_name }}</h4>
		<h4>About: {{ profile.about_user }}</h4>
                <h3>Contact Info</h3>
		<tbody>
                    <tr>
                        <tb><h4>Email: {{ profile.email }}</h4></tb>
                        <tb><h4>Phone Number: {{ profile.phone_number }}</h4></tb>
                        <tb><h4>Mailing Address: {{ profile.home_address }}</h4></tb>
                    </tr>
                </tbody>
            </div>
		</div>
    </div>

{% endblock %}
