{% extends "body.html" %}

{% block content %}

    <!-- Content -->
    <div class="container" role="main">
		<div class="table-responsive">
			<table class="table table-striped sortable">
				<thead>
                <h1>User Profiles</h1>
					<tr>
                        <th>Name</th>
                        <th>About User</th>
                        <th>User Type</th>
                        <th>E-Mail</th>
					</tr>
				</thead>
				<tbody>
                    {% for item in profiles %}
                    <tr>
                        <td><a href="/profile?email={{ item.email }}"> {{ item.first_name }} {{ item.last_name }}</a></td>
                        <td>{{ item.about_user|safe }}</td>
                        {% if item.user_type == "STU" %}
                        <td> Student </td>
                        {% elif item.user_type == "ENG" %}
                        <td> Engineer </td>
                        {% elif item.user_type == "PROF" %}
                        <td> Professor </td>
                        {% else %}
                        <td>{{ item.user_type }}</td>
                        {% endif %}
                        <td>{{ item.email }}</td>
                    </tr>
                    {% endfor %}
				</tbody>
			</table>
		</div>
    </div>

{% endblock %}
