{% extends "body.html" %}

{% block content %}

	<!-- Content -->
	<div class="container theme-showcase" role="main">
		<div class="jumbotron">
			<h1>{{ group.name }}</h1>
			<p>{{ group.description|safe }}</p>
            <p>Group Experience: {{ group.experience }}</p>
			{% if userIsMember %}
			<a href="/group/unjoin?name={{ group.name }}" class="btn btn-default">Unjoin this Group</a>
			{% else %}
			<a href="/group/join?name={{ group.name }}" class="btn btn-default">Join this Group</a>
			{% endif %}
            <a href="/group/remove?name={{ group.name }}" class="btn btn-default">Remove this group</a>
		</div>
	</div>
	
	<div class="container">
		<div class="table-responsive">
			<table class="table table-striped sortable">
				<thead>
					<tr>
						<th>Users</th>
					</tr>
				</thead>
				<tbody>
					{% for item in group.members.all %}
					<tr>
						<td>{{ item.get_full_name }}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
    <div class="container">
		<div class="table-responsive">
			<table class="table table-striped sortable">
				<thead>
					<tr>
						<th>Suggested Projects</th>
                        <th>Required Experience</th>
					</tr>
				</thead>
				<tbody>
					{% for project in projects %}
                        {% if project.experience <= group.experience %}
					<tr>
						 <td><a href="/project?name={{ project.name }}"> {{ project.name }}</a></td>
                         <td>{{ project.experience }}</td>
                    </tr>
                        {%  endif %}

					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
    <div class="container">
        <div class="table-responsive">
			<table class="table table-striped sortable">
				<thead>
					<tr>
						<th>Comment</th>
                        <th>Posted By</th>
                        <th>Comment Posted At</th>
                        <th>Delete</th>
					</tr>
				</thead>
				<tbody>
                    {% for comment in comments %}
                    <tr>
                        <td><p>{{ comment.comment }}</p></td>
                        <td>{{ comment.user }}</td>
                        <td>{{ comment.createdat }}</td>
                        {% if currentUser == comment.user.id or currentUser.user_type == "None"%}
                        <td><a href="/groupcommentremove?id={{ comment.commentid }}&rdr={{ group.name }}">delete</a></td>
                        {% endif %}
                    </tr>
                    {% endfor %}
				</tbody>
			</table>
            <form method="POST" action="/group/comment?id={{ group.id }}" class="panel-body validate"> {% csrf_token %}
                {{ form.as_p }}
                <input type="text" name="comment" id="comment" placeholder="comment" class="form-control" data-bvalidator="required" data-bvalidator-msg="comment">
	            <input type="submit" class='btn btn-primary' value="comment">
            </form>
		</div>
	</div>

{% endblock %}